body{
  margin: 10px;
  padding: 10px;
  
}

.main{
  display: flex;
  justify-content: center;
}


.container{
  height: 800px;
  width: 600px;
  border: 1px solid gainsboro;
  border-radius: 25px;
}



.box1,.box2{
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
}
.box3{
  display: flex;
  justify-content: space-evenly;
 
}

input{
  height: 40px;
    width: 320px;
    border: 1px solid goldenrod;
    border-radius: 20px;
   
    font-size: larger;
}
textarea{
  border: 1px solid goldenrod;
  border-radius: 30px;
 
  font-size: larger;
}
 label{
  font-weight: bold;
    font-size: larger;
    font-family: cursive;
 }

 .animate-charcter
{
  
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  
  
  background-size: 200% auto;
  color: #fff;
 
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
 
  text-align: center;
 
  border-radius: 30px;
 
  font-size: 50px;    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.box4{
  display: flex;
  justify-content: space-evenly;
  margin: 60px;
}

.btn-1{
  
    background-color: #4c77af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  
}

.btn-1:hover{
  background-color: #231557;
  color: white;
}





/* body {
  background-color: #3498db;
  animation: colorFade 4s infinite alternate;
}
@keyframes colorFade {
  0% {
      background-color: #3498db;
  }
  100% {
      background-color: #e74c3c;
  }
} */